doctype html
html
    head
        title #{title}
        meta(http-equiv='X-UA-Compatible' content="IE=edge")
        meta(charset='utf-8')
        meta(name='Keywords' content='#{title}')
        meta(name='Description' content='#{title}')
        meta(content="This is the only camera you need" property="og:title")
        meta(content="TellTale is a powerful action camera as well as an elegant home monitor, so you will never miss a moment." property="og:description")
        meta(content="https://s3.amazonaws.com/telltalecam/facebook+ad+03.jpg" property="og:image")
        meta(content="Action Camera and Home Monitor in One. As a multi-purpose camera, TellTale is super easy to use and switch between roles. Going for some outdoor sport? Simply “Grab-and-Go”, it will become an action camera" name="description")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="@TellTaleCam")
        meta(name="twitter:title" content="This is the only camera you need")
        meta(name="twitter:description" content="TellTale is a powerful action camera as well as an elegant home monitor, so you will never miss a moment.")
        meta(name="twitter:image" content="https://s3.amazonaws.com/telltalecam/facebook+ad+03.jpg")
        meta(content="website" property="og:type")
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel='stylesheet', href='#{staticUrl}/static/lib/reset.css')
        block css
    body
        div#layout(class="#{agent.Mobile?'mobile':''}")
            block header
                header.header.clr
                    if(!agent.Mobile)
                        ul.nav.f-l.clr
                            li.logo
                                a(href="/")
                                    img(style="width:36px;height:36px;margin-top:-7px;")(src="#{staticUrl}/static/telltale/img/logo.png")
                            li(style="margin-left: 60px;")
                                a(href="#design") Design
                            li
                                a(href="#camera") Camera
                            li
                                a(href="#app") App
                            li
                                a(href="#tech") Tech Specs
                            li
                                a(href="#accessories") Accessories
                            li
                                a(href="#gallery") Gallery
                        div.f-r.free-btn Get Free $50
                    else
                        div.logo.f-l
                            a(href="/")
                                    img(style="width:36px;height:36px;margin-top:-7px;")(src="#{staticUrl}/static/telltale/img/logo.png")
                        div.nav-btn.f-r
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        nav.nav-dropdown
                            li
                                a(href="#design") Design
                            li
                                a(href="#camera") Camera
                            li
                                a(href="#app") App
                            li
                                a(href="#tech") Tech Specs
                            li
                                a(href="#accessories") Accessories
                            li
                                a(href="#gallery") Gallery

            div#main
                block content
            block foot
                div.footer @ 2016 TellTale
        script.
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?3d5a3290f5d86e2d0e58f3377b3f3bee";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();

        script(src='#{staticUrl}/static/lib/jquery.js')
        script(src='#{staticUrl}/static/lib/jquery.lazyload.min.js')
        block tj
            script.
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ 
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), 
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) 
              })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); 
             
              ga('create', 'UA-63927994-14', 'auto'); 
              ga('send', 'pageview');
            //Facebook Pixel Code
            script.
                !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? 
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n; 
                n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0; 
                t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, 
                document,'script','https://connect.facebook.net/en_US/fbevents.js'); 
                  
                fbq('init', '502272043299736'); 
                fbq('track', "PageView");
            noscript
                img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=502272043299736&ev=PageView&noscript=1")
            script.
                window.$kol_jquery = window.jQuery
            script(src="https://kickoffpages-kickofflabs.netdna-ssl.com/widgets/1.9.1/kol_embed.js")
            script(src='https://kickoffpages-kickofflabs.netdna-ssl.com/w/72935/109640.js')
        block js