extends layout
block css
    link(rel='stylesheet', href='#{staticUrl}/static/lib/swiper.min.css')
    link(rel='stylesheet', href='https://s3.amazonaws.com/telltalecam/static/telltale/index/index.css')

block content
    div.page1
        div(style="width:100%; height: 100%; overflow:hidden;")
             video(autoplay="" loop="" muted="" id="bgvid")
                source(src="#{staticUrl}/static/telltale/index/video.mp4" type="video/mp4")
        img.desc(src="#{staticUrl}/static/telltale/index/img/p1_2.png")
        div.free-wrap
            div.free-btn Get $50 Credit
            div.free-desc
                img(src="#{staticUrl}/static/telltale/index/img/p1_3.png")
                img.p1_4(src="#{staticUrl}/static/telltale/index/img/p1_4.png")
                img(src="#{staticUrl}/static/telltale/index/img/p1_5.png")
    div.page2
        div.clr
            div.f-l(style="width:50%")
                img(src="#{staticUrl}/static/telltale/index/img/p2_1.jpg")
                div.desc Action Camera
            div.f-l(style="width:50%")
                img(src="#{staticUrl}/static/telltale/index/img/p2_2.jpg")
                div.desc Home Monitor
    div.page3
        div.text-center
            img.p3_1(src="#{staticUrl}/static/telltale/index/img/p3_1.png")
            img(class="p3_2" src="#{staticUrl}/static/telltale/index/img/p3_2.png")
            p(style="font-size:30px;margin-top: 30px;padding:0 5px;") The Only Camera You Need In Your Life
            p(style="font-size:15px;margin-top:17px;")
                span The moment you use TellTale, you know you’ve never felt anything like it. 
                br
                span 4K video brings your memories to life in a powerfully vivid way. 
                br
                span Activity-based monitoring protects your life smartly and silently. 
                br
                span And that’s just the beginning. Take a deeper look at TellTale, and you’ll find innovation on every level. 
    div.page3_1#design
        div(style="margin-top:142px;").clr
            div.f-l.p3_3_text
                p.fs30.title Design for Simple Usage
                dl
                    dt Grab & Go
                    dd From home monitor to fully charged action camera!
                dl
                    dt Snap & Charge
                    dd Place it on the dock and charge for your next event.
                dl
                    dt Portable Power Bank
                    dd No more dead batteries! Charge up to six times.
                div.size.clr
                    div.f-l
                        span Width
                        br
                        em 43
                        span mm
                    div.f-l
                        span Hidth
                        br
                        em 43
                        span mm
                    div.f-l
                        span Thickness
                        br
                        em 45
                        span mm
                    div.f-l
                        span Weight
                        br
                        em 82
                        span g
                a(href='#detail' style="color:#17CCD5;margin-top:20px;font-weight:normal") &gt;&gt;  Learn more
            div.f-r.bg.p3_1_1_bg
    div.page4#camera
        div.text
            span.fs30 Amazing Quality
            br
            span TellTale captures clear images so you don’t lose any detail of your life.
    div.page5
        div.desc
            div.wrap.clr
                div.f-l
                    em 4K
                    p 30fps
                div.f-l
                    em 1080P
                    p 60fps
                div.f-l
                    em 12M
                    p photo
    div.page5_1.clr
        div.f-l
            img.p5_1(src="#{staticUrl}/static/telltale/index/img/p1_3.png")
            span.fs30 It's Different When It's Live
            br
            br
            span Never miss another moment with the world's smallest 4K LIVE streaming video camera.
        div.f-r
            img(src="#{staticUrl}/static/telltale/index/img/p4_2.jpg")
    div.page6
        span.fs30 Enhanced Capability
        br
        span Not only can it record in 4K, it can also do time-lapse videos.
    div.page7
        div.clr
            div.f-l
                img(class="lazy" width="355" height="362" data-original="#{staticUrl}/static/telltale/index/img/p7_1.jpg")
                div.desc 
                    p(style="font-size:20px") Waterproof
                    p(style="color:#17CCD5") 30-meter with case
            div.f-l
                img(class="lazy" width="355" height="362" data-original="#{staticUrl}/static/telltale/index/img/p7_2.jpg")
                div.desc
                    p(style="font-size:20px") Powerful Battery
                    p(style="color:#17CCD5") 100 mins + 8 extra hours
            div.f-l
                img(class="lazy" width="355" height="362" data-original="#{staticUrl}/static/telltale/index/img/p7_3.jpg")
                div.desc
                    p(style="font-size:20px") Low-light Mode
                    p(style="color:#17CCD5") smart exposure technology
    div.page8
        div.s1.clr
            div.f-l
                img(class="lazy" width="571" height="456" data-original="#{staticUrl}/static/telltale/index/img/p8_1.jpg")
            div.f-r
                p.fs30 Smart Detection
                p.desc TellTale is built to detect the unusual moments in your life.
                ul
                    li
                        img(src="#{staticUrl}/static/telltale/index/img/p8_2.png")
                        span motion detection
                    li
                        img(src="#{staticUrl}/static/telltale/index/img/p8_3.png")
                        span sound detection
                    li
                        img(src="#{staticUrl}/static/telltale/index/img/p8_4.png" style="margin-left: 6px;width:24px;")
                        span media compression
        div.s2.clr
            div.f-l(style="text-align:right;margin-top: 84px;")
                p.fs30 Smart Alerts
                p TellTale constantly takes notes on its recordings. When capturing potential exceptions, TellTale will alert you through the TellTale app. If a sound comes from your cat, TellTale will learn the rhythm of its voice, making sure not to annoy you next time around.
            div.f-l
                img(class="lazy" width="277" height="510" data-original="#{staticUrl}/static/telltale/index/img/app.gif")
            div.f-l.right(style="text-align:left;")
                p.fs30 Remote Live View
                p Know what happens in your home anytime, anywhere. You can stream video live or scan playback video remotely through the TellTale app.
        div.s3.clr
            div.f-l
                p.fs30 Privacy Protection
                p Use the camera shield to protect your private moments. When the cover is locked, TellTale will stop working automatically.
            div.f-l
                img(class="lazy" width="314" height="300" data-original="#{staticUrl}/static/telltale/index/img/p8_6.jpg")
    div.page9.clr
        div.wrap.clr
            div.f-l
                p.fs30 Quickly Snap
                p TellTale helps you capture every precise and fleeting moment easily. No matter what mode you’re on, just press the main button to shoot.
                br
                br
                img.p9_1(class="lazy" width="353" height="445" data-original="#{staticUrl}/static/telltale/index/img/p9_1.png")
            div.f-r
                img.p9_2(class="lazy" width="283" height="301" data-original="#{staticUrl}/static/telltale/index/img/p9_2.png")
                br
                br
                
    div.page10
        div.wrap
            p.fs30 Remote Control
            p Capture moments with everybody. No one is left out.
            div.center
                img.p10_4(src="#{staticUrl}/static/telltale/index/img/p10_4.png")
                img.p10_2(src="#{staticUrl}/static/telltale/index/img/p10_2.png")
                img.p10_3(src="#{staticUrl}/static/telltale/index/img/p10_3.png")
            p Enjoy the moments with the people you love.
            p Use the coin-sized remote control to take a picture with everybody, including you. You can also use the TellTale App to control it.
    div.page11
        div.top
            p.fs30 Baby Mode
            p TellTale makes it easier to monitor your baby.
        div.bottom.clr
            div.f-l
                img(src="#{staticUrl}/static/telltale/index/img/p11_2.png")
                p LED light is turned off when the baby is sleeping.
            div.f-l
                img(src="#{staticUrl}/static/telltale/index/img/p11_3.png")
                p Sensitive detection for those little movements.
            div.f-l
                img(src="#{staticUrl}/static/telltale/index/img/p11_4.png")
                p Captures clear images even in low light setting.
            div.f-l
                img(src="#{staticUrl}/static/telltale/index/img/p11_5.png")
                p 32-hour standby time, 3-hour recording time
    div.page12#app
        div.s1
            p.fs30 TellTale App
            div.wrap.clr
                div.f-l
                    img(class="lazy" width="214" height="434" data-original="#{staticUrl}/static/telltale/index/img/p12_1.jpg")
                    p Camera Control
                div.f-l
                    img(class="lazy" width="214" height="434" data-original="#{staticUrl}/static/telltale/index/img/p12_2.jpg")
                    p Timeline Gallery
                div.f-l
                    img(class="lazy" width="214" height="434" data-original="#{staticUrl}/static/telltale/index/img/p12_3.jpg")
                    p Easy Share
        div.s2#tech
            div.desc
                p.fs30 Tech Specs
            br
            img(class="lazy" width="830" height="406" data-original="#{staticUrl}/static/telltale/index/img/p12_4.jpg")
            br
            img#detail(class="lazy" width="932" height="1491" data-original="#{staticUrl}/static/telltale/index/img/p12_4_1.png")
        div.s3#accessories
            p.fs30 Accessories
            //br
            //    img(class="lazy" width="950" height="341" data-original="#{staticUrl}/static/telltale/index/img/Accessories.jpg")
            //br
            div.wrap.clr
                div.f-l.p12_5_w
                    img(class="lazy" width="132" height="402" data-original="#{staticUrl}/static/telltale/index/img/p12_5.jpg")
                    p Power Line
                div.f-l.p12_6_w
                    img(class="lazy" width="70" height="72" data-original="#{staticUrl}/static/telltale/index/img/p12_6.jpg")
                    p Remote Control
                div.f-l.p12_7_w
                    img(class="lazy" width="200" height="220" data-original="#{staticUrl}/static/telltale/index/img/p12_7.png")
                    p Battery & Charger
                div.f-l.p12_8_w
                    img(class="lazy" width="232" height="139" data-original="#{staticUrl}/static/telltale/index/img/p12_8.png")
                    p Camera
                div.f-l.p12_9_w
                    img(class="lazy" width="79" height="124" data-original="#{staticUrl}/static/telltale/index/img/p12_9.jpg")
                    p Camera Shield
                div.f-l.p12_10_w
                    img(class="lazy" width="211" height="226" data-original="#{staticUrl}/static/telltale/index/img/p12_10.png")
                    p Waterproof Case
    div.page13#gallery
        p.fs30.tac Gallery
        div.wrap
            div.swiper-container
                div.swiper-wrapper
                    div.swiper-slide
                        img(class="lazy" width="960" data-original="#{staticUrl}/static/telltale/index/img/gallery/1.jpg")
                    div.swiper-slide
                        img(class="lazy" width="960" data-original="#{staticUrl}/static/telltale/index/img/gallery/2.jpg")
                    div.swiper-slide
                        img(class="lazy" width="960" data-original="#{staticUrl}/static/telltale/index/img/gallery/3.jpg")
                    div.swiper-slide
                        img(class="lazy" width="960" data-original="#{staticUrl}/static/telltale/index/img/gallery/4.jpg")
                    div.swiper-slide
                        img(class="lazy" width="960" data-original="#{staticUrl}/static/telltale/index/img/gallery/5.jpg")
                    div.swiper-slide
                        img(class="lazy" width="960" data-original="#{staticUrl}/static/telltale/index/img/gallery/6.jpg")
                div.swiper-pagination
                div.swiper-button-next
                div.swiper-button-prev
    div.dialog
        img.close(src="#{staticUrl}/static/telltale/index/img/close.png")
        div#kol_embed_container_109640
    div.mask
    div.dialog-youtube
        div.close
            img(src="#{staticUrl}/static/telltale/index/img/close.png")

block js
    script(src='#{staticUrl}/static/lib/swiper.min.js')
    script(src='#{staticUrl}/static/lib/swiper.jquery.min.js')
    script(src='https://s3.amazonaws.com/telltalecam/static/telltale/index/index.js')
